# vscode extensions
.vscode

# input files
input.txt
entrada.txt

# output files
output.txt

# executable files
a.out

# open vim files
*.swp

# enviroment files
.env
env

# python cache
__pycache__

# java binaries
.class
