# vscode extensions
.vscode

# input files
input.txt
entrada.txt

# output files
output.txt

# executable files
*.out

# open vim files
.swp

# enviroment files
*.env
venv

# python cache
__pycache__

# java binaries
*.class
